<ion-view title="My Coaches " id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="advisingSection-list10">
      <ion-item class="item-avatar" id="advisingSection-list-item9" ui-sref="tabsController.chat">
         <div style="float:left;padding:10px">
    
              <img src="img/coach2.jpeg" height="135px">
        
          </div>      
        
        <div style="padding:10px">
        <h2>Jake Johnson</h2>
        <p>New Brunswick, NJ</p>
        <p>Specialty: Chemistry , Biology</p>
        <p>Language : English, Spanish</p>
        <p>Type : Professional </p>
          <img src="img/rating.png" height="24" width="127" >
          </div>
        
      </ion-item>
     
    </ion-list>
  </ion-content>
</ion-view>