<ion-view title="Chat" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 369px;"></div>
    <form id="chat-form11" class="list">
      <label class="item item-input" id="chat-input16">
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="chat-button-bar11" class="button-bar">
      <button id="chat-button13" class="button button-positive  button-block">Attach file</button>
      <button id="chat-button14" class="button button-positive  button-block">Send</button>
    </div>
  </ion-content>
</ion-view>