<ion-view title="Coach Search Result " id="page24">
  <ion-content padding="true" class="has-header">

    <ion-list id="coachSearchResult-list27">
        
      <ion-item class="item-avatar" id="coachSearchResult-list-item68" ui-sref="tabsController.purchase">
             <div style="float:left;padding:10px">
    
              <img src="img/coach2.jpeg" height="165px">
        
          </div>      
        
        <div style="padding:10px">
        <h2>Jake Johnson</h2>
        <p>New Brunswick, NJ</p>
        <p>Specialty: Chemistry , Biology</p>
        <p>Language : English, Spanish</p>
        <p>Type : Professional </p>
          <img src="img/rating.png" height="24" width="127" >
          </div>
        
      </ion-item>
      <ion-item class="item-avatar" id="coachSearchResult-list-item74" ui-sref="tabsController.purchase">
        <div style="float:left;padding:10px">
            <img src="img/coach3.jpeg" height="165px">
          </div>
        <h2>Lisa Chow</h2>
        <p>Los Angeles, CA</p>
        <p>Language : Mandarin, English </p>
        <p>Type : Non Professional</p>
        <img src="img/rating.png" height="24" width="127">
          
      </ion-item>
      <ion-item class="item-avatar" id="coachSearchResult-list-item75" ui-sref="tabsController.purchase">
          
       <div style="float:left;padding:10px">
              <img src="img/coach4.jpeg" height="165px">
          </div>
        <div style="padding:10px">
        <h2>Joan Anderson</h2>
        <p>New Brunswick, NJ</p>
        <p>Specialty: Chemistry , Biology</p>
        <p>Language : English, Spanish</p>
        <p>Type : Professional </p>
          <img src="img/rating.png" height="24" width="127" >
          </div>
        
 
      </ion-item>
      <ion-item class="item-avatar" id="coachSearchResult-list-item76" ui-sref="tabsController.purchase">
        <h2>Name4</h2>
        <p>, state</p>
        <img src="img/rating.png" height="24" width="127">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>