<ion-view title="Coaching" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h2 id="coaching-heading16" style="color:#888888;text-align:center;">Search for a Coach</h2>
    <h4 id="coaching-heading17" style="color:#31698A;">Looking for more help?</h4>
    <div id="coaching-markdown53">
      <p style="color:#000000;">GradHunt Pro provides you with your own personal adviser who can help asnwer questions about the graduate school admissions process, understand admission requirments and deadlines, and help your proofread your personal essays.</p>
    </div>
    <h4 id="coaching-heading18" style="color:#31698A;">Pricing </h4>
    <div id="coaching-markdown54">
      <p style="color:#000000;">Gold Coach for per month : $149 </p>
      <div>
           <p style="color:#000000;">Service includes :  </p>
           <ul style="display:list-item">
               <li >
                   1. Resume Review 
               </li>
                <li >
                   2. Essay Review
               </li>
                <li >
                   2. General Advising through 
               </li>
          </ul>
      </div>
    </div>
    <br/>
    <div id="coaching-markdown54">
      <p style="color:#000000;">Silver Coach for per month : $59
          <ul style="display:list-item">
               <li >
                   1. Discussion about graduate schools. 
               </li>
                <li >
                   2. Discussion about scholarships. 
               </li>
               <li >
                   3. Answering questions related to graduate schools faculty. 
               </li>
                <li >
                   4. Discussion about career potential.
               </li>
              
          </ul>
    </div>
    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <h4 id="coaching-heading19" style="color:#31698A;">Search for a coach who best meets your school goals</h4>
    <form id="coaching-form34" class="list">
      <label class="item item-select" id="coaching-select12">
        <span class="input-label">Region</span>
        <select>
          <option>Northeast</option>
          <option>Midwest</option>
          <option>South</option>
          <option>West</option>
        </select>
      </label>
      <label class="item item-select" id="coaching-select14">
        <span class="input-label">Program</span>
        <select>
          <option>Business</option>
          <option>Criminal Justice &amp; Legal</option>
          <option>Education</option>
          <option>Fine Art &amp; Design</option>
          <option>Health &amp; Medicine</option>
          <option>Liberal Arts &amp; Humanities</option>
          <option>Math, Science &amp; Engineering</option>
          <option>Public Affairs &amp; Social Sciences</option>
          <option>Religious Studies</option>
          <option>Technology</option>
        </select>
      </label>
      <a ui-sref="tabsController.coachSearchResult" id="coaching-button68" class="button button-positive  button-block">Search Coaches</a>
    </form>
  </ion-content>
</ion-view>