<ion-view title="Coach Search Result " id="page24">
  <ion-content padding="true" class="has-header">

    <ion-list id="coachSearchResult-list27">
      <ion-item class="item item-avatar" id="coachSearchResult-list-item68" ui-sref="tabsController.purchase">
        <h2>Jake Johnson</h2>
        <p>city, state</p>
        <p>Specialty</p>
          <rating ></rating>
        <button ion-button class="button-positive">Select</button>
      </ion-item>
      <ion-item class="item-avatar" id="coachSearchResult-list-item74" ui-sref="tabsController.purchase">
        <h2>Name2</h2>
        <p>city, state</p>
        <ion-option-button class="button-positive">Select</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="coachSearchResult-list-item75" ui-sref="tabsController.purchase">
        <h2>Name3</h2>
        <p>city, state</p>
        <ion-option-button class="button-positive">Select</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="coachSearchResult-list-item76" ui-sref="tabsController.purchase">
        <h2>Name4</h2>
        <p>city, state</p>
        <ion-option-button class="button-positive">Select</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>