<ion-view title="Compare" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="compare-heading13" style="color:#888888;text-align:center;">Compare Schools</h3>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <div id="compare-markdown48">
      <p style="color:#336699;font-size:16px;">Admissions</p>
      <img ng-src="img/graphs/compare_admissions.png" alt="compare_admissions" width="100%" />
    </div>
    <div class="spacer" style="width: 300px; height: 76px;"></div>
    <div id="compare-markdown48">
      <p style="color:#336699;font-size:16px;">Admissions Rate</p>
      <img ng-src="img/graphs/compare_amissions_rate.png" alt="compare_admissions_rate" width="100%" />
    </div>
    <div class="spacer" style="width: 300px; height: 76px;"></div>
    <div id="compare-markdown48">
      <p style="color:#336699;font-size:16px;">Applicants</p>
      <img ng-src="img/graphs/compare_applicants.png" alt="compare_applicants" width="100%" />
    </div>
    <div class="spacer" style="width: 300px; height: 76px;"></div>
    <div id="compare-markdown48">
      <p style="color:#336699;font-size:16px;">Enrollment</p>
      <img ng-src="img/graphs/compare_enrollment.png" alt="compare_enrollment" width="100%" />
    </div>
    <div class="spacer" style="width: 300px; height: 76px;"></div>
    <div id="compare-markdown48">
      <p style="color:#336699;font-size:16px;">Enrollment Rate</p>
      <img ng-src="img/graphs/compare_enrollment_rate.png" alt="compare_enrollment_rate" width="100%" />
    </div>
    <div class="spacer" style="width: 300px; height: 76px;"></div>
    <div id="compare-markdown48">
      <p style="color:#336699;font-size:16px;">Math SAT 75%</p>
      <img ng-src="img/graphs/compare_mathsat.png" alt="compare_mathsat" width="100%" />
    </div>
    <div class="spacer" style="width: 300px; height: 76px;"></div>
    <div id="compare-markdown48">
      <p style="color:#336699;font-size:16px;">Tuition</p>
      <img ng-src="img/graphs/compare_tuition.png" alt="compare_tuition" width="100%" />
    </div>
    <div class="spacer" style="width: 300px; height: 76px;"></div>
  </ion-content>
</ion-view>