<ion-view title="Favorites" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="favorites-list25">
      <ion-item class="item-thumbnail-left item-icon-right" id="favorites-list-item71" ng-repeat="fav in favorites">
        <h2>{{fav.SchoolName}}</h2>
        <p>{{fav.City}}, {{fav.State}}</p>
        <i class="icon ion-android-bookmark"></i>
        <!-- <ion-option-button class="button-assertive">Delete</ion-option-button> -->
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 140px;"></div>
    <button id="favorites-button66" class="button button-positive  button-block">Compare Schools</button>
  </ion-content>
</ion-view>