<ion-view title="Login" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <h2 id="login-heading9" style="color:#888888;text-align:center;">GradHunt Login</h2>
    <form id="login-form20" class="list">
      <ion-list id="login-list9">
        <label class="item item-input" id="login-input10">
          <span class="input-label">Email</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input11">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.favorites" id="login-button31" class="button button-calm  button-block">Log in</a>
      <a ui-sref="tabsController.signup" id="login-button32" style="color:default;" class="button button-stable  button-block">Sign Up</a>
      <a ui-sref="tabsController.search" id="login-button33" class="button button-stable  button-block">Continue as Guest</a>
    </form>
  </ion-content>
</ion-view>