<ion-view title="Advisor Profile" id="page25" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">


        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: left;">
            <label class="item item-input">
                <span class="input-label">Name :Jake Johnson</span>
                <span class="input-label">New Brunswick, NJ</span>
                <span class="input-label">Specialty: Chemistry , Biology</span>
                <span class="input-label">Type : Professional </span>
       
                <img src="img/rating.png" height="24" width="127" >
   
            </label>
            
        </div>
        <div id="purchase-button-bar10" class="button-bar" style="text-align:center;">
            <button ion-button class="button button-balanced" ui-sref="tabsController.advisingSection" style="text-align:center;">Purchase</button>

        </div>
    </ion-content>
</ion-view>