<ion-view title="Advisor Profile" id="page25" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">

<ion-list id="coachSearchResult-list27">
        
      <ion-item class="item-avatar">
           <p>Name :Jake Johnson</p>
        <p>New Brunswick, NJ</p>
        <p>Specialty: Chemistry , Biology</p>
        <p>Language : English, Spanish</p>
        <p>Type : Gold  </p>
                <img src="img/rating.png" height="24" width="127" >
           <div id="purchase-button-bar10" class="button-bar" style="text-align:center;">
            <button ion-button class="button button-balanced" ui-sref="tabsController.advisingSection" style="text-align:center;">Purchase</button>

        </div>
          </ion-item>
      

        
        <!--div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: left;">
            

        <p>Name :Jake Johnson</p>
        <p>New Brunswick, NJ</p>
        <p>Specialty: Chemistry , Biology</p>
        <p>Language : English, Spanish</p>
        <p>Type : Professional </p>
                <img src="img/rating.png" height="24" width="127" >
   
           
            
        </div>
        <div id="purchase-button-bar10" class="button-bar" style="text-align:center;">
            <button ion-button class="button button-balanced" ui-sref="tabsController.advisingSection" style="text-align:center;">Purchase</button>

        </div-->
    </ion-content>
</ion-view>