<ion-view title="Purchase" id="page25">
  <ion-content padding="true" class="has-header">
    <h3 id="purchase-heading24" style="color:#31698A;font-weight:600;text-align:center;">Purchase GradHunt Pro</h3>
    <h4 id="purchase-heading25" style="color:#888888;font-weight:600;text-align:center;">Pricing</h4>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="purchase-button-bar10" class="button-bar">
      <a ui-sref="tabsController.advisingSection" id="purchase-button73" style="font-weight:600;font-size:12px;" class="button button-stable  button-block">Purchase A</a>
      <a ui-sref="tabsController.advisingSection" id="purchase-button76" style="font-weight:600;font-size:12px;" class="button button-stable  button-block">Purchase B</a>
      <a ui-sref="tabsController.advisingSection" id="purchase-button77" style="font-weight:600;font-size:12px;" class="button button-stable  button-block">Purchase C</a>
    </div>
  </ion-content>
</ion-view>