<ion-view title="Signup" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="signup-form13" class="list">
      <ion-list id="signup-list11">
        <label class="item item-input" id="signup-input17">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input18">
          <span class="input-label">Email </span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input19">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button19" class="button button-positive  button-block">Create account </button>
    </form>
  </ion-content>
</ion-view>