<ion-view title="Start" hide-nav-bar="true" id="page10" style="background-color:#FFB6C1;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="start-heading2" style="color:#FFFFFF;font-weight:600;text-align:center;">Welcome to GradHunt!</h1>
    <div id="start-markdown4">
      <div align="center">
        <img src="../img/GradHunt_Logo2.png" alt="GradHunt_Logo2" width="254" height="259"/>
      </div>
      <p style="color:#000000;font-size:20px;">GradHunt is a mobile application that can help you find and compare graduate programs that match your academic goals.</p>
      <p style="color:#000000;font-size:20px;">The app includes a database of graduate schools and programs across the country, along with statistics on tuition, graduation rates, prospective employment rates, helping you make informed decisions on you investment.</p>
      <p style="color:#000000;font-size:20px;">GradHunt presents information in a visual way to help you make efficient comparisons.</p>
    </div>
    <a ui-sref="tabsController.search" id="start-button1" style="font-weight:600;font-size:20px;" class="button button-positive  button-block">Get Started!</a>
  </ion-content>
</ion-view>