<ion-view title="Todo" id="page5">
  <ion-content padding="true" class="has-header">
    <h2 id="todo-heading14" style="color:#888888;text-align:center;">My ToDos</h2>
    <ion-list id="todo-list26">
      <ion-checkbox>Submit application1 </ion-checkbox>
      <ion-checkbox>Submit application 2</ion-checkbox>
      <ion-checkbox>Submit application 3</ion-checkbox>
    </ion-list>
    <h2 id="todo-heading15" style="color:#888888;text-align:center;">Add a New ToDo</h2>
    <form id="todo-form32" class="list">
      <label class="item item-input" id="todo-input14">
        <span class="input-label">Todo Item</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="todo-input15">
        <span class="input-label">Todo Item</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="todo-markdown51">
      <p style="color:#00B838;">Due Date</p>
    </div>
    <form id="todo-form33" class="list">
      <label class="item item-select" id="todo-select10">
        <span class="input-label">Select</span>
        <select>
          <option></option>
        </select>
      </label>
      <button id="todo-button67" class="button button-positive  button-block">Add</button>
    </form>
  </ion-content>
</ion-view>