
 <ion-view title="Todo" id="page5">
<ion-content padding="true" class="has-header" ng-controller="todoCtrl">
     
<body data-ng-app="">
<div class="container" data-ng-controller="todoCtrl">
  
  <h1 id="todo-heading14" style="color:#888888;text-align:center;"class="app-title">{{ appTitle }}</h1> 
     
     <header>
        <br><h3 class="app-headline">{{ appHeadline }}</h3></br>
 </header>

  <section class="app-body">

<style>
  .done-true{
  text-decoration: line-through;
}
</style>
    <section class="archive-control">
      <span>{{ remaining() }} of {{ todos.length }} remaining</span>
      <p>[ <a href="" data-ng-click="archive()">Remove Completed Items</a> ]</p>
    </section>

    <ul class="unstyled">
      <li data-ng-repeat="todo in todos track by $index">
        <input type="checkbox" data-ng-model="todo.done">
        <span class="done-{{ todo.done }}">{{ todo.text }}</span>
      </li>
    </ul>

    <form data-ng-submit="addTodo()" class="todo-form">
      <input type="text" data-ng-model="todoText" placeholder="Enter new ToDo item" />
      <br />
      <input type="submit" value="Add Task" />
    </form>
  </section>
</div>
</body>
</ion-content>
</ion-view>
